<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Geneva Auto{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<header>
    {% include 'navbar.html' %}
</header>

<body>
    <main>
        {% block body %}
            <h1>Welcome to Geneva Auto!</h1>
        {% endblock %}
    </main>
    {% include 'footer.html' %}
</body>

</html>