{% extends "base.html" %}

{% block title %}Geneva Auto{% endblock title}

<header>
    {% include 'navbar.html' %}
</header>

{% block body %}
<body>
    <h1>Vendors</h1>
    <form action="{{ url_for('suppliers') }}" method="post" class="search-form">
        <table>
            <tr>
                <th>Vendor ID</th>
                <th>Vendor Name</th>
                <th>Phone Number</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>Postal Code</th>
            </tr>
            <tr>
                <td>723</td>
                <td>Good Car Parts</td>
                <td>(585) 364-4623</td>
                <td>6901 Proximity lane</td>
                <td>Victor</td>
                <td>New York</td>
                <td>14564</td>
            </tr>
            <tr>
                <td>329</td>
                <td>Better Car Parts</td>
                <td>(585) 315-3163</td>
                <td>2156 County Road 28</td>
                <td>Canandaigua</td>
                <td>New York</td>
                <td>14424</td>
            </tr>
        </table>
    </form>
</body>
{% endblock %}

{% include 'footer.html' %}